<!DOCTYPE html>
<!-- 
The sign up page of our app
Authors: Atif Mahmud and Salman Titas	
-->

<html>
	<head>
		<title>SIGN UP</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>

	<body id="signUp">

		<div class="navbar">
			<text id="logo"> 
			H A V E N
			</text>
		</div>

		<form>
			<div class="container">

				<h1> SIGN UP</h1>

				<label for="First Name"> <b>First Name</b> </label>
				<input type="text" placeholder="Enter First Name" name="first" required>

				<br>

				<label for="Last Name"> <b>Last Name</b> </label>
				<input type="text" placeholder="Enter Last Name" name="last" required>

				<br>

				<label for="Email"> <b>Email</b> </label>
				<input type="text" placeholder="Enter Email" name="email" required> 

				<br>

				<label for="Gender"> <b>Gender</b> </label>
				<input type="text" placeholder="Enter Gender" name="gender" required>

				<br>

				<label for="Password"> <b>Password</b> </label>
				<input type="password" placeholder="Enter Password" name="password" required>

				<br>

				<label for="Password-Repeat"> <b>Password Repeat</b> </label>
				<input type="text" placeholder="Enter Password Again" name="password-repeat" required>

				<br>

				<input type="button" value="Submit" name="submit">

				<br>


			</div>
		</form>



	</body>
</html>