<!DOCTYPE html>
<! The basic front end for the landing page of our app>
<! Authors: Atif Mahmud and Salman Titas> 

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 boilerplate – all you really need…</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body id="home">
        <div class="navbar">
            <text id="logo">
                H A V E N
            </text>

            <input type="button" onclick="" id="signUpButton" value="SIGN UP">
            <input type="button" onclick = "" id="loginButton" value="LOGIN">

        </div>
    </body>

</html>