<!DOCTYPE html>
<! The basic front end for the landing page of our app>
<! Authors: Atif Mahmud and Salman Titas> 

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTML5 boilerplate – all you really need…</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body id="home">
        <div class="navbar">
            <text id="logo">
                H A V E N
            </text>

            <button id="signUpButton">
                SIGN UP
            </button>
            <button id="signUpButton">
                    LOGIN
            </button>

        </div>
    </body>

</html>